/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
	padding-top: 50px;
	padding-bottom: 20px;
}*/
/*.body {*/
body {
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	color: #545554;

	padding-top: 50px;
	/*padding-bottom: 20px;*/
}

p {
	font-family: "Open Sans" !important;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: #545554;
}

.navbar-inverse {
    background-color: #545554;
    border-color: #545554;
}

.navbar-header{
	margin-top: 12px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	font-size: 12px;
}

.medium-container {
  max-width: 600px;
  margin: auto;
}

#first{
	text-align: center;
	color: #474747;
	background-color: #EEEEEE;
	padding-top: 75px;
	padding-bottom: 75px;
}

#registro {
	text-align: center;
	background-color: #00CC99;
	padding-top: 75px;
	padding-bottom: 75px;
}

#objetivos {
	text-align: center;
	background-color: #EEEEEE;
	padding-top: 50px;
	padding-bottom: 80px;
}

#herramientas {
	text-align: center;
	background-color: #D4D4D4;
	padding-top: 50px;
	padding-bottom: 80px;
}

#miembros {
	background-color: #00CC99;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}

h2.titulo {
	font-weight: 700;
	margin-bottom: 60px;
}

h2 {
	font-weight: 700;
}

h2.titlebold {
	color: #fff;
}

a.btn-default {
  margin-top: 1.5em;
  font-size: 1.1em;
  color: #fff;
  background-color: #545554;
  text-transform: uppercase;
  padding: 15px 50px;
  border-radius: 0;
  border-color: #545554;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.25);
}

a.btn.btn-default:hover {
  background-color: #474747;
	border-color: #474747;
  color: #fff;
}

.high-margins {
  margin: 3em 0;
}
.event-container {
  margin: 2em 2.5em;
}

.event {
  font-size: 1.1em;
  font-weight: 700;
  text-align: left;
  color: #545554;
  background-color: #EEEEEE;
  padding: 34px 25px;
  border-radius: 0;
  border-color: #545554;
}

.date {
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  color: #545554;
  background-color: #EEEEEE;
  padding: 15px 15px;
  border-radius: 0;
  border-color: #545554;
}

.date .number {
  font-size: 2.5em;
}

td:hover {
}

a:hover, a:active, a:focus {
  background-color: transparent;
  text-decoration: none; 
}

.col-md-4 {
	text-align: center;
}


.footer {
	background-color: #545554;
	height: 200px;
	text-align: center;
	padding-top: 50px;
}

.add-top-separation {
	margin-top: 20px;
}

.linkfooter {
	color: #00CC99;;
}

.footer-image {
	margin-right: 70px;
}

/* Table */

table {
  border-collapse: separate;
  border-spacing: 10px 20px;
}

.table {
	
	text-align:left;
}

td {
  vertical-align: top;
  padding: 0.86em;
  color: #000;
}


tr:nth-child(even) td:nth-child(even){ background-color: #D4D4D4; }
tr:nth-child(odd) td:nth-child(even){ background-color: #30cc94; }
tr:nth-child(even) td:nth-child(even) tr td { background-color: transparent; }
tr:nth-child(odd) td:nth-child(even) tr td{ background-color: transparent; }
thead tr:first-child td:nth-child(even){ background-color: transparent; }



div.table table.table {
  background-color: transparent;
}
