.container {
	width: 100%;
	margin-left: 0;
	margin-right: 0;

	padding-left: 0;
	padding-right: 0;
}

.large-container {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.medium-container {
  max-width: 600px;
  margin-left: auto;
	margin-right: auto;
}

#first{
	text-align: center;
	color: #474747;
	background-color: #EEEEEE;
	padding-top: 75px;
	padding-bottom: 75px;
}

#registro {
	text-align: center;
	background-color: #00CC99;
	padding-top: 75px;
	padding-bottom: 75px;
}

#objetivos {
	text-align: center;
	background-color: #EEEEEE;
	padding-top: 50px;
	padding-bottom: 80px;
}

#herramientas {
	text-align: center;
	background-color: #D4D4D4;
	padding-top: 50px;
	padding-bottom: 80px;
}

#miembros {
	background-color: #00CC99;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}

#footer {
	background-color: #545554;
	height: 200px;
	text-align: center;
	padding-top: 50px;
}


h2.titulo {
	font-weight: 700;
	margin-bottom: 60px;
}

h2.titlebold {
	color: #fff;
}

a.btn-default {
  margin-top: 1.5em;
  font-size: 1.1em;
  color: #fff;
  background-color: #545554;
  text-transform: uppercase;
  padding: 15px 50px;
  border-radius: 0;
  border-color: #545554;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.25);
}

a.btn.btn-default:hover {
  background-color: #474747;
	border-color: #474747;
  color: #fff;
}

.high-margins {
  margin: 3em 0;
}
.event-container {
  margin: 2em 2.5em;
}

.event {
  font-size: 1.1em;
  font-weight: 700;
  text-align: left;
  color: #545554;
  background-color: #EEEEEE;
  padding: 34px 25px;
  border-radius: 0;
  border-color: #545554;
}

.date {
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  color: #545554;
  background-color: #EEEEEE;
  padding: 15px 15px;
  border-radius: 0;
  border-color: #545554;
}

.date .number {
  font-size: 2.5em;
}

td:hover {
}

a:hover, a:active, a:focus {
  background-color: transparent;
  text-decoration: none;
}

.add-top-separation {
	margin-top: 20px;
}

.linkfooter {
	color: #00CC99;;
}

.footer-image {
	margin-right: 70px;
}
